body{
    display : flex;
    flex-direction: column;
    justify-content : space-between;
    margin : 0px;
}

.header{
    background-color :cadetblue;
    display : flex;
    justify-content: space-around;
}
.header.links{
    display: flex;
    align-items: center;
}
.header.links button{
    margin : 10px;
}
a{
    text-decoration: none;
}
.header img{
    color : transparent;
    width : 40px;
    height : 40px;
    margin : 8px;
}
.header .title{
    display : flex;
    align-items: center;
    height : auto;
}
.header .title p{
    font-size : 28px;
    font-weight: 500;
    font-family: Supermercado;
}

.secotion-one{
    display: flex;
    justify-content: center;

}
.title-box{
    display : flex;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 8px;
    width : 85%;
    height: 100%;
    margin: 9em auto 9em auto;
}

.leftbox .title{
    font-family: supermercado;
    font-size: 32px;
    color : white;
    filter: drop-shadow(0 0 0.75rem black);
}

.caption{
    text-align: center;
    color : white;
    filter: drop-shadow(0 0 0.75rem black);
    padding-bottom : 24px
}

.title-text{
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    color : white;
    padding-top : 24px;
    padding-bottom : 24px;
}

.join{
margin-top: 20px;

}

.title-image img{
    width : 500px;
    height: auto;
    flex-shrink: 0;
    border : 3px solid white;
    border-radius: 8px;
    filter: drop-shadow(0 0 0.75rem black);
    margin : 30px;
}

.information-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color :chocolate;
    flex-direction: column;
    padding-left : 400px;
    padding-right : 400px;
}

.information-box .title{
    font-size: 32px;
    font-weight: 300;
    font-family: supermercado;

}

.items{
    display : flex;
    flex-flow: row wrap;
    flex : 0 0 75%;
    justify-content: center;
    padding-bottom : 40px;
}

.item{
    border : 3px solid white;
    border-radius: 12px;
    background-color: black;
    height: 100px;
    width : 100px;
    margin : 32px;
    filter: drop-shadow(0 0 0.75rem black);

    text-align: center;
}

.item img {
    width: 100px;
    height: 100px;
    mask-image: inherit;
    border-radius: 8px;
}

.quote-box{
    background-color :darkolivegreen;
    background-image: url(images/dibby.png);
    background-size: cover;
    object-fit: cover;
    filter: blur(4px);
}

.footer{
    text-align: center;
    background-color :cadetblue;
    padding : 12px;
}

@font-face {
    font-family: Supermercado;
    src: url(fonts/SupermercadoOne-Regular.ttf);
}


.right-box{
 justify-content: center;
 margin : 30px;
}

.leftbox{
    padding : 40px;
    flex-direction: column;
}